<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gt.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
				<key>dateExpires</key>
				<string>25/02/2020</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AliyunOSSiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DACircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DTCoreText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DTFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>EAIntroView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>EARestrictedScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FDFullscreenPopGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MWPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>OpenUDID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PSTCollectionView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PureLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RegexKitLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>12D8C2FC87D58A728764F78C2F2C8D7A91E047F4</string>
						<key>dateExpires</key>
						<string>25/02/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZXingObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NBTWVW7JYA</string>
						<key>name</key>
						<string>ALVAREZ LIMITED EOOD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NBTWVW7JYA.com.otc.bub</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NBTWVW7JYA</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>gt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>135b8311-5181-4e66-9cf1-5200fcd9d4f2</string>
				<key>name</key>
				<string>dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NBTWVW7JYA</string>
				<key>name</key>
				<string>ALVAREZ LIMITED EOOD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
